fieldset{
border: 2px solid rgb(141, 197, 63);
padding: 20px;
width: 500px;
margin-left: auto;
margin-right: auto;
}
img{
height: 400px;
width: 500px;
align-content: center;
}
.page{
border: 2px solid rgb(141, 197, 63);
width: 600px;
margin: auto;
padding: 20px;
text-align: center;
}
.form-item{
margin: auto;

}
.restart{
background-color: rgb(141, 197, 63);
border: none;
color: black;
padding: 25px 32px;
text-align: center;
font-size: 16px;
}
.form-submit{
background-color: rgb(141, 197, 63);
border: none;
color: black;
padding: 10px 60px;
text-align: center;
font-size: 16px;
}
